

.topnav{
    padding:35px 0px 0px 0px;
    float:right;
    margin-right:240px;
}

#name{
    position: fixed;
    text-decoration: none;
    padding: 35px 20px 20px 10px;
    top: 0px;
    left: 200px;
    background-color: #4aaaa5;
    width: 135px;
    margin-top: 0px;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
} 

.navbar{
    background-color: #ffffff;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100px;
    text-decoration: none;
    z-index: 5;
}



/* Used fixed positioning instead of float to make sure the get the links to stay in place, for screens that are larger or smaller than average(can fit 960px) */

#contact{
    float: right;
    /* position: fixed; */
    /* left: 1035px; */
    top:50px;
    text-decoration: none;
    color:#777777;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    padding: 0px 0px 0px 20px;
    border-color: #dddddd;
    margin-right: -50%;
}

#project{
    float:right;
    /* position: fixed; */
    /* left: 930px; */
    top:50px;
    text-decoration: none;
    color:#777777;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    padding: 0px 0px 0px 20px;
    /* margin-right: -5%; */
    border-color: #dddddd;
}

#portfolio{
    float:right;
    /* position: fixed; */
    /* left: 930px; */
    top:50px;
    text-decoration: none;
    color:#777777;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    padding: 0px 0px 0px 20px;
    /* margin-right: -5%; */
    border-color: #dddddd;
}

#index{
    float:right;
    /* position: fixed; */
    /* left: 860px; */
    top:50px;
    margin-right: 20px;
    text-decoration: none;
    color:#777777;
}

#pic{
    margin: 0px 20px 20px 0px;
    float:left;
    height: 200px;
    width: 200px;
}

h2{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-bottom: 50px;
}

body{
    margin: 150px 200px;
    background-color: #ffffff;
    background-image: url("../../../Basic-Portfolio/assets/images/wheat.png")
}

.body{
    /* can not get it to center on a larger screen, online line on the right side*/
    width: 920px;
    height: 420px;
    background-color: #ffffff;
    padding:20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
}

.about{
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    padding: 0px 0px 20px 0px;
    border-color: #dddddd;
}

.contact{
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    padding: 0px 0px 20px 0px;
    border-color: #dddddd;
    margin-bottom: 20px;

}

.bodycontact{
    width: 920px;
    height: 400px;
    background-color: #ffffff;
    padding:20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}


input{
    width: 99%;
    height: 25px;
    color: #4aaaa5;
}

#message{
    height: 100px;
    resize: both;
    overflow: auto;
    width: 99%;
    color: #4aaaa5
}

#submit{
    margin-top:10px;
    width:60px;
    color: #ffffff;
    background-color: #4aaaa5;
    height: 30px;
    width:  80px;
}

#namename{
    padding:5px 0px 0px 0px
}

#emailname{
    padding:5px 0px 0px 0px
}

#messagename{
    padding:5px 0px 0px 0px
}

.bodyproject{
    width: 920px;
    height: 370px;
    background-color: #ffffff;
    padding:20px;
    margin-bottom: 50px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.bodyport{
    width: 920px;
    height: 670px;
    background-color: #ffffff;
    padding:20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.projecttitle{
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    padding: 0px 0px 20px 0px;
    border-color: #dddddd;
    margin-bottom: 20px;
} 

.portfoliotitle{
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    padding: 0px 0px 20px 0px;
    border-color: #dddddd;
    margin-bottom: 20px;
} 

#feeling-hungry{
    height: 250px;
    width: 250px;
    padding: 20px;
    float: left;

}

#hungrytitle{
    position: absolute;
    top: 410px;
    left: 240px;
    background-color: #4aaaa5;
    text-decoration: none;
    height: 60px;
    width: 210px;
    padding: 20px 0px 0px 0px;
    color: #ffffff;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    z-index: 2;
}

#gem{
    height: 250px;
    width: 250px;
    padding: 20px;
    float: left;
}

#gemtitle{
    position: absolute;
    top: 850px;
    left: 240px;
    background-color: #4aaaa5;
    text-decoration: none;
    height: 60px;
    width: 210px;
    padding: 20px 0px 0px 0px;
    color: #ffffff;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

#psychic{
    height: 250px;
    width: 250px;
    padding: 20px;
    float: left;
}

#psychictitle{
    position: absolute;
    top: 850px;
    left: 490px;
    background-color: #4aaaa5;
    height: 60px;
    width: 210px;
    padding: 20px 0px 0px 0px;
    color: #ffffff;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

#trivia{
    height: 250px;
    width: 250px;
    padding: 20px;
    float: left;
}

#triviatitle{
    position: absolute;
    top: 850px;
    left: 740px;
    background-color: #4aaaa5;
    height: 60px;
    width: 210px;
    padding: 20px 0px 0px 0px;
    color: #ffffff;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

#train{
    height: 250px;
    width: 250px;
    padding: 20px;
    float: left;
    z-index: 1;
}

#traintitle{
    position: absolute;
    top: 1090px;
    left: 240px;
    background-color: #4aaaa5;
    height: 60px;
    width: 210px;
    padding: 20px 0px 0px 0px;
    color: #ffffff;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    z-index: 2;
}

#gif{
    height: 250px;
    width: 250px;
    padding: 20px;
    float: left;
    z-index: 1;
}

#giftitle{
    position: absolute;
    top: 1090px;
    left: 490px;
    background-color: #4aaaa5;
    height: 60px;
    width: 210px;
    padding: 20px 0px 0px 0px;
    color: #ffffff;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    z-index: 2;
}

.footbar{
    position: fixed;
    bottom: 0;
    left:0;
    background-color: #777777;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 10px 0px 0px 0px;
    border-top: #4aaaa5;
    border-top: 10px;
    z-index: 2;
    color: #dddddd;
}   

.footborder{
    position: fixed;
    bottom: 0;
    left:0;
    background-color: #4aaaa5;
    height: 60px;
    width: 100%;
    text-align: center;
    padding: 10px 0px 0px 0px;
    border-top: #4aaaa5;
    border-top: 10px;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .navbar{
        z-index: 3;
    }
    body{
        background-image: url("../../../Basic-Portfolio/assets/images/dark-paths.png");
        margin: 150px 100px;
    }
    .body{
        /* width:460px; */
        width:100%;
        height:100%;
    }
    #name{
        position: fixed;
        top: 0px;
        left: 100px;
    } 
    #contact{
        float: right;
        /* position: fixed; */
        /* left: 580px; */
        top:50px;
        margin-right: -70% ;

    }
    
    #project{
        float:right;
        /* position: fixed; */
        /* left: 0px; */
        top:50px;
        margin-right: -25%;

    }

    #portfolio{
        float:right;
        /* position: fixed; */
        /* left: 0px; */
        top:50px;
        margin-right: -25%;

    }
    
    #index{
        float:right;
        /* position: fixed; */
        /* left: 1060px; */
        top:50px;
    }
    #pic{
        margin: 0px 20px 20px 0px;
        float:left;
        height: 150px;
        width: 150px;
    }
    .bodycontact{
        /* width:460px; */
        width:100%;
        height:100%;
    }

    .bodyproject{
        /* width:460px; */
        width:100%;
        height:470px;
    }

    .bodyport{
        /* width:460px; */
        width:100%;
        height:1860px;
    }

    #feeling-hungry{
        height: 350px;
        width: 100%;
    }

    #hungrytitle{
        width:30%;
        position: absolute;
        top: 500px;
        left: 140px;
        z-index: 2;
    }

    #gem{
        height: 350px;
        width: 100%;
    }

    #gemtitle{
        width:30%;
        position: absolute;
        top: 1040px;
        left: 140px;
        z-index: 2;
    }

    #psychic{
        height: 350px;
        width: 100%; 
    }

    #psychictitle{
        width:30%;
        position: absolute;
        top: 1390px;
        left: 140px;
        z-index: 2;
    }

    #trivia{
        height: 350px;
        width: 100%;
    }

    #triviatitle{
        width:30%;
        position: absolute;
        top: 1740px;
        left: 140px;
        z-index: 2;
    }

    #train{
        height: 350px;
        width: 100%;
    }

    #traintitle{
        width:30%;
        position: absolute;
        top: 2090px;
        left: 140px;
        z-index: 2;
    }

    #gif{
        height: 350px;
        width: 100%;
    }

    #giftitle{
        width:30%;
        position: absolute;
        top: 2440px;
        left: 140px;
        z-index: 2;
    }
}



@media screen and (max-width: 640px) {
    body{
        background-image: url("../../../Basic-Portfolio/assets/images/folk-pattern.png");
        margin: 150px 100px;
    }
    .body{
        /* width:460px; */
        margin-top: 150px;
        width:100%;
        height:100%;
        background-color: #777777;
        color: #ffffff;
        padding:10px;
    }
    #name{
        position: fixed;
        top: 0px;
        left: 100px;
        padding-top: 55px
        
    } 
    #contact{
        /* float: right; */
        position: fixed;
        left: 250px;
        top:80px;
        /* margin-right: -700% ; */
        color: #ffffff
    }
    
    #project{
        /* float:right; */
        position: fixed;
        left: 250px;
        top:50px;
        /* margin-right: -25%; */
        color: #ffffff
    }

    #portfolio{
        /* float:right; */
        position: fixed;
        left: 250px;
        top:50px;
        /* margin-right: -25%; */
        color: #ffffff
    }
    
    #index{
        /* float:right; */
        position: fixed;
        /* left: 1060px; */
        top:20px;
        left:250px;
        color: #ffffff;
        border-style: solid;
        border-width: 0px 0px 0px 1px;
        padding: 0px 0px 0px 20px;
        border-color: #dddddd;
    }
    .navbar{
        background-color: #777777;
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height: 120px;
        text-decoration: none;
        z-index: 3;
    }
    .about{
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .bodyproject{
        /* width:460px; */
        width:100%;
        height:360px;
        background-color: #777777;
    }

    .bodyport{
        /* width:460px; */
        width:100%;
        height:1360px;
        background-color: #777777;
    }

    .bodycontact{
        /* width:460px; */
        width:100%;
        height:100%;
        background-color: #777777;
    }

    #feeling-hungry{
        width:100%;
        height: 250px;
    }

    #gem{
        width:100%;
        height: 250px;
    }

    #psychic{
        width:100%;
        height: 250px;
    }

    #trivia{
        width:100%;
        height: 250px;
    }

    #train{
        width:100%;
        height: 250px; 
    }

    #gif{
        width:100%;
        height: 250px; 
    }

    #hungrytitle{
        width:30%;
        position: absolute;
        top: 410px;
        left: 140px;
        z-index: 2;
    }

    #gemtitle{
        width:30%;
        position: absolute;
        top: 820px;
        left: 140px;
        z-index: 2;
    }

    #psychictitle{
        width:30%;
        position: absolute;
        top: 1070px;
        left: 140px;
        z-index: 2;
    }
    

    #triviatitle{
        width:30%;
        position: absolute;
        top: 1320px;
        left: 140px;
        z-index: 2;
    }

    #traintitle{
        width:30%;
        position: absolute;
        top: 1570px;
        left: 140px;
        z-index: 2;
    }

    #giftitle{
        width:30%;
        position: absolute;
        top: 1820px;
        left: 140px;
        z-index: 2;
    }

    /* #gemtitle{
        width:30%;
        position: absolute;
        top: 370px;
        left: 140px;
        z-index: 2;
    } */

    

}


/* @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
    }
    
    /* The element to apply the animation to */
    /* div { */
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: red; */
    /* animation-name: example; */
    /* animation-duration: 4s; */ */
    /* } */ */