.topnav{
    padding:35px 0px 0px 0px;
    float:right;
    margin-right:240px;
}

#name{
    position: fixed;
    text-decoration: none;
    padding: 35px 20px 20px 10px;
    top: 0px;
    left: 200px;
    background-color: #4aaaa5;
    width: 135px;
    margin-top: 0px;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
} 

.navbar{
    background-color: #ffffff;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100px;
    text-decoration: none;
}



/* Used fixed positioning instead of float to make sure the get the links to stay in place, for screens that are larger or smaller than average(can fit 960px) */

#contact{
    /* float: right; */
    position: fixed;
    left: 1035px;
    top:50px;
    text-decoration: none;
    color:#777777;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    padding: 0px 20px 0px 20px;
    border-color: #dddddd;
    margin-right: 70px;
}

#portfolio{
    /* float:right; */
    position: fixed;
    left: 930px;
    top:50px;
    margin-right: 20px;
    text-decoration: none;
    color:#777777;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    padding: 0px 0px 0px 20px;
    margin-right: 20px;
    border-color: #dddddd;
}

#index{
    /* float:right; */
    position: fixed;
    left: 860px;
    top:50px;
    margin-right: 20px;
    text-decoration: none;
    color:#777777;
}

#pic{
    margin: 0px 20px 20px 0px;
    float:left;
    height: 200px;
    width: 200px;
}

h2{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-bottom: 50px;
}

body{
    margin: 150px 200px;
    background-color: #ffffff;
    background-image: url("../../../Basic-Portfolio/assets/images/wheat.png")
}

.body{
    /* can not get it to center on a larger screen, online line on the right side*/
    width: 920px;
    height: 420px;
    background-color: #ffffff;
    padding:20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
}

.about{
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    padding: 0px 0px 20px 0px;
    border-color: #dddddd;
}

.contact{
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    padding: 0px 0px 20px 0px;
    border-color: #dddddd;
    margin-bottom: 20px;

}

.bodycontact{
    width: 920px;
    height: 400px;
    background-color: #ffffff;
    padding:20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}


input{
    width: 99%;
    height: 25px;
    color: #4aaaa5;
}

#message{
    height: 100px;
    resize: both;
    overflow: auto;
    width: 99%;
    color: #4aaaa5
}

#submit{
    margin-top:10px;
    width:60px;
    color: #ffffff;
    background-color: #4aaaa5;
    height: 30px;
    width:  80px;
}

#namename{
    padding:5px 0px 0px 0px
}

#emailname{
    padding:5px 0px 0px 0px
}

#messagename{
    padding:5px 0px 0px 0px
}

.bodyport{
    width: 920px;
    height: 670px;
    background-color: #ffffff;
    padding:20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;

}

.portfoliotitle{
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    padding: 0px 0px 20px 0px;
    border-color: #dddddd;
    margin-bottom: 20px;
} 

#hang{
    height: 250px;
    width: 250px;
    padding: 20px;
    float: left;
}

#hangtitle{
    position: absolute;
    top: 410px;
    left: 240px;
    background-color: #4aaaa5;
    text-decoration: none;
    height: 60px;
    width: 210px;
    padding: 20px 0px 0px 0px;
    color: #ffffff;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

#rpg{
    height: 250px;
    width: 250px;
    padding: 20px;
    float: left;
}

#rpgtitle{
    position: absolute;
    top: 410px;
    left: 490px;
    background-color: #4aaaa5;
    height: 60px;
    width: 210px;
    padding: 20px 0px 0px 0px;
    color: #ffffff;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

#trivia{
    height: 250px;
    width: 250px;
    padding: 20px;
    float: left;
}

#triviatitle{
    position: absolute;
    top: 410px;
    left: 740px;
    background-color: #4aaaa5;
    height: 60px;
    width: 210px;
    padding: 20px 0px 0px 0px;
    color: #ffffff;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

#rps{
    height: 250px;
    width: 250px;
    padding: 20px;
    float: left;
}

#rpstitle{
    position: absolute;
    top: 670px;
    left: 240px;
    background-color: #4aaaa5;
    height: 60px;
    width: 210px;
    padding: 20px 0px 0px 0px;
    color: #ffffff;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}


.footbar{
    position: fixed;
    bottom: 0;
    left:0;
    background-color: #777777;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 10px 0px 0px 0px;
    border-top: #4aaaa5;
    border-top: 10px;
    z-index: 2;
    color: #dddddd;
}   

.footborder{
    position: fixed;
    bottom: 0;
    left:0;
    background-color: #4aaaa5;
    height: 60px;
    width: 100%;
    text-align: center;
    padding: 10px 0px 0px 0px;
    border-top: #4aaaa5;
    border-top: 10px;
    z-index: 1;
}